<?xml version="1.0"?>

<launch>
  <!-- Model configuration -->

  <!-- Sensor configuration -->
  <include file="$(find ydlidar_ros_driver)/launch/G2.launch"/>
  <param name="m_bSingle_TF_option" type="bool" value="true" /> <!--false-->
  <node pkg="iahrs_driver" type="iahrs_driver" name="iahrs_driver" output="screen"></node>

  <!-- AMCL -->
  <include file="$(find diff_2dnav)/launch/amcl.launch.xml"/>

  <!-- Odometry configuration -->
  <remap from="odom" to="odom_data_quat" />
  <remap from="imu_data" to="imu/data" />
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_footprint"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="gps_used" value="false"/>
    <param name="debug" value="true"/>
    <param name="self_diagnose" value="false"/>
  </node>

  <!-- SLAM configuration -->
  <!--<arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="false"/>-->
  <include file="$(find diff_2dnav)/launch/mapping.launch"/>

  <!--<include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>--> 
  <!-- move_base configuration -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find diff_2dnav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find diff_2dnav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find diff_2dnav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find diff_2dnav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find diff_2dnav)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find diff_2dnav)/param/move_base_params.yaml" command="load" />
  </node>
  <!-- MD200T motor driver configuration -->
  <node pkg="md" type="md_robot_node" name="md_robot_node" output="screen">
    <param name = "use_MDUI"                    value = "0"/>       <!-- 0: not use MDUI, 1: use MDUI -->
    <param name = "wheel_radius"                value = "0.193"/>  <!-- unit: meter -->
    <param name = "wheel_length"                value = "0.487"/>   <!-- unit: meter -->
    <param name = "motor_pole"                  value = "8"/>
    <param name = "reduction"                   value = "15"/> 
    <param name = "reverse_direction"           value = "0"/>       <!-- 0: forward, 1: reverse -->
    <param name = "maxrpm"                      value = "2700"/>    <!-- unit: RPM -->
    <param name = "motor_posi"                  value = "1"/>       <!-- motor pisition 0: hall sensor, 1: encoder -->
    <param name = "position_type"               value = "1"/>       <!-- 0: hall sensor, 1: encoder -->
    <param name = "encoder_PPR"                 value = "16384"/>   <!-- if use encoder position, encoder PPR -->
    <param name = "position_proportion_gain"    value = "20"/>      <!-- reference PID 203(PID_GAIN) -->
    <param name = "speed_proportion_gain"       value = "50"/>      <!-- reference PID 203(PID_GAIN) -->
    <param name = "integral_gain"               value = "1800"/>    <!-- reference PID 203(PID_GAIN) -->
    <param name = "slow_start"                  value = "300"/>     <!-- unit: RPM -->
    <param name = "slow_down"                   value = "300"/>     <!-- unit: RPM -->
  </node>
  <node pkg="diff_2dnav" type="ekf_odom_pub" name="ekf_odom_pub">
  </node>
  <node pkg="diff_2dnav" type="rviz_click_to_2d" name="rviz_click_to_2d">
  </node>
</launch>
