<?xml version="1.0"?>

<launch>
  <!-- Model configuration -->

  <!-- Sensor configuration -->
  <include file="$(find ydlidar_ros_driver)/launch/G2.launch"/>
  <param name="m_bSingle_TF_option" type="bool" value="true" /> <!--false-->
  <node pkg="iahrs_driver" type="iahrs_driver" name="iahrs_driver" output="screen"></node>

  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen">
    <param name="laser_scan_topic" value="/scan"/>
    <param name="odom_topic" value="/odom" />   
    <param name="publish_tf" value="true" />
    <param name="base_frame_id" value="/base_footprint"/>
    <param name="odom_frame_id" value="/odom" />    
    <param name="init_pose_from_topic" value="" />
    <param name="freq" value="10.0"/>
    <param name="verbose" value="true" />
  </node>

  <!-- AMCL -->
  <include file="$(find diff_2dnav)/launch/amcl.launch.xml"/>

  <!-- Odometry configuration -->
  <!-- [x_pos   , y_pos    , z_pos,
        roll    , pitch    , yaw,
        x_vel   , y_vel    , z_vel,
        roll_vel, pitch_vel, yaw_vel,
        x_accel , y_accel  , z_accel]-->
  <!--<node name="robot_localization_ekf_node_odom" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
    <param name="frequency" value="60.0" />
    <param name="sensor_timeout" value="0.2" />
    <param name="two_d_mode" value="true" />
    <param name="publish_tf" value="true" />
    <param name="transform_time_offset" value="0.0" />
    <param name="transform_timeout" value="0.1" />
    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_footprint" />
    <param name="world_frame" value="odom" />
    <param name="odom0" value="/odom_data_quat" />
    <param name="odom0_differential" value="false" />
    <param name="odom0_pose_rejection_threshold" value="5.0"/>
    <param name="odom0_twist_rejection_threshold" value="1.0"/>
    <rosparam param="odom0_config">
      [true, true, false,
       false, false, false,
       false, false, false,
       false, false, false,
       false, false, false]</rosparam>
    <param name="odom1" value="/odom" />
    <param name="odom1_differential" value="false" />
    <rosparam param="odom1_config"/>
      [true, true, false,
       false, false, false,
       false, false, false,
       false, false, true,
       false, false, false]
    <param name="imu0" value="/imu/data" />
    <param name="imu0_differential" value="false" />
    <param name="imu0_remove_gravitational_acceleration" value="true"/>
    <param name="imu0_linear_acceleration_rejection_threshold" value="0.8"/>
    <param name="imu0_pose_rejection_threshold" value="0.8"/>
    <param name="imu0_twist_rejection_threshold" value="0.8"/>
    <rosparam param="imu0_config">
      [false, false, false,
       false, false, false,
       false, false, false,
       false, false, true,
       false, false, false]</rosparam>
  </node>-->
  <!--<remap from="odom" to="odom_data_quat" />
  <remap from="imu_data" to="imu/data" />
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_footprint"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="gps_used" value="false"/>
    <param name="debug" value="true"/>
    <param name="self_diagnose" value="false"/>
  </node>-->

  <!-- SLAM configuration -->
  <!--<arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="false"/>-->
  <include file="$(find diff_2dnav)/launch/mapping.launch"/>

  <!--<include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>--> 
  <!-- move_base configuration -->
  <include file="$(find diff_2dnav)/launch/move_base.launch"/>

  <!-- MD200T motor driver configuration -->
  <node pkg="md" type="md_robot_node" name="md_robot_node" output="screen">
    <param name = "use_MDUI"                    value = "0"/>       <!-- 0: not use MDUI, 1: use MDUI -->
    <param name = "wheel_radius"                value = "0.193"/>  <!-- unit: meter -->
    <param name = "wheel_length"                value = "0.487"/>   <!-- unit: meter -->
    <param name = "motor_pole"                  value = "8"/>
    <param name = "reduction"                   value = "15"/> 
    <param name = "reverse_direction"           value = "0"/>       <!-- 0: forward, 1: reverse -->
    <param name = "maxrpm"                      value = "2700"/>    <!-- unit: RPM -->
    <param name = "motor_posi"                  value = "1"/>       <!-- motor pisition 0: hall sensor, 1: encoder -->
    <param name = "position_type"               value = "1"/>       <!-- 0: hall sensor, 1: encoder -->
    <param name = "encoder_PPR"                 value = "16384"/>   <!-- if use encoder position, encoder PPR -->
    <param name = "position_proportion_gain"    value = "20"/>      <!-- reference PID 203(PID_GAIN) -->
    <param name = "speed_proportion_gain"       value = "50"/>      <!-- reference PID 203(PID_GAIN) -->
    <param name = "integral_gain"               value = "1800"/>    <!-- reference PID 203(PID_GAIN) -->
    <param name = "slow_start"                  value = "300"/>     <!-- unit: RPM -->
    <param name = "slow_down"                   value = "300"/>     <!-- unit: RPM -->
  </node>
  <node pkg="diff_2dnav" type="ekf_odom_pub" name="ekf_odom_pub">
  </node>
  <node pkg="diff_2dnav" type="rviz_click_to_2d" name="rviz_click_to_2d">
  </node>
</launch>
