<?xml version="1.0"?>

<launch>
  <param name="robot_description" textfile="$(find diff_2dnav)/description/robot.urdf"/>
  <!--<include file="$(find ydlidar_ros_driver)/launch/G2.launch"/>-->
  <include file="$(find diff_2dnav)/launch/rplidar_s2.launch"/>
  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_broadcaster" args="0 0 0.30 3.14 0 3.14 base_link laser 100" />-->

  <include file="$(find diff_2dnav)/launch/ublox_zed-f9p.launch"/>
  <include file="$(find diff_2dnav)/launch/ntrip_client.launch"/>
  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_gps_broadcaster" args="-0.50 0 0.30 0 0 0 base_link gps 100" />-->

  <include file="$(find iahrs_driver)/launch/iahrs_driver.launch"/>
  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link_broadcaster" args="0 0 0 0 0 0 base_link imu_link 100" />-->
  
  <node pkg="md" type="md_robot_node" name="md_robot_node" output="screen">
    <param name = "use_MDUI"                    value = "0"/>       <!-- 0: not use MDUI, 1: use MDUI -->
    <param name = "wheel_radius"                value = "0.193"/>  <!-- unit: meter -->
    <param name = "wheel_length"                value = "0.487"/>   <!-- unit: meter -->
    <param name = "motor_pole"                  value = "8"/>
    <param name = "reduction"                   value = "15"/> 
    <param name = "reverse_direction"           value = "0"/>       <!-- 0: forward, 1: reverse -->
    <param name = "maxrpm"                      value = "2700"/>    <!-- unit: RPM -->
    <param name = "motor_posi"                  value = "1"/>       <!-- motor pisition 0: hall sensor, 1: encoder -->
    <param name = "position_type"               value = "1"/>       <!-- 0: hall sensor, 1: encoder -->
    <param name = "encoder_PPR"                 value = "16384"/>   <!-- if use encoder position, encoder PPR -->
    <param name = "position_proportion_gain"    value = "20"/>      <!-- reference PID 203(PID_GAIN) -->
    <param name = "speed_proportion_gain"       value = "50"/>      <!-- reference PID 203(PID_GAIN) -->
    <param name = "integral_gain"               value = "1800"/>    <!-- reference PID 203(PID_GAIN) -->
    <param name = "slow_start"                  value = "300"/>     <!-- unit: RPM -->
    <param name = "slow_down"                   value = "300"/>     <!-- unit: RPM -->
  </node>
  <node pkg="diff_2dnav" type="ekf_odom_pub" name="ekf_odom_pub">
  </node>
  <node pkg="diff_2dnav" type="rviz_click_to_2d" name="rviz_click_to_2d">
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
</launch>
