<?xml version="1.0"?>

<launch>
  <include file="$(find diff_2dnav)/launch/laser_filter.launch"/>

  <!-- Attached devices configuration -->
  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen">
    <param name="laser_scan_topic" value="/scan_filtered"/>
    <param name="odom_topic" value="/odom" />   
    <param name="publish_tf" value="true" />
    <param name="base_frame_id" value="/base_footprint"/>
    <param name="odom_frame_id" value="/odom" />    
    <param name="init_pose_from_topic" value="" />
    <param name="freq" value="10.0"/>
    <param name="verbose" value="true" />
  </node>

  <!-- AMCL -->
  <include file="$(find diff_2dnav)/launch/amcl.launch"/>

  <!-- SLAM configuration -->
  <!--<include file="$(find diff_2dnav)/launch/mapping.launch"/>-->
  <include file="$(find diff_2dnav)/launch/slam_toolbox.launch"/>

  <!-- move_base configuration -->
  <include file="$(find diff_2dnav)/launch/move_base.launch"/>

</launch>
