<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <arg name="origin" default="auto"/>
  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" output="screen">
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="$(arg origin)"/> <!-- setting "auto" here will set the origin to the first GPS fix that it recieves -->
    <remap from="gps" to="/gps/filtered/translated"/>
    <!--<remap from="gps" to="/ublox_gps/fix"/>-->
  </node>
</launch>
