<?xml version="1.0"?>

<launch>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

    <param name="magnetic_declination_radians" value="0.15678874447043498"/>

    <param name="yaw_offset" value="0"/>

    <param name="publish_filtered_gps" value="true"/>
    <param name="broadcast_cartesian_transform" value="true"/>
    <param name="broadcast_cartesian_transform_as_parent_frame" value="true"/>

    <remap from="/imu/data" to="/imu/data" />
    <remap from="/gps/fix" to="/ublox_gps/fix" />
    <remap from="/odometry/filtered" to="/odometry/filtered" />

  </node>

</launch>
